{%if include.model.prev %}
  <a href="{{include.model.prev | prepend:site.baseurl}}">
    <div class="nav nav-left"><span>&#10094;</span></div>
  </a>
{% endif %}
<div class="outer">
  <div class="inner">
      <div id="smoothstate" class="scene animated fadeIn">
        <img class="background" src="{{include.model.backgroundUrl | prepend:site.baseurl}}">
        {% for interactive in include.model.interactiveObjects %}
        <img class="interactive" style="top:{{interactive.absoluteTop}}%;left:{{interactive.absoluteLeft}}%;height:{{interactive.absoluteHeight}}%;" src="{{interactive.imageUrl | prepend:site.baseurl}}" data-imageurl="{{interactive.imageUrl | prepend:site.baseurl}}" data-hoverurl="{{interactive.hoverUrl | prepend:site.baseurl}}">
        {% endfor %}
      </div>
  </div>
</div>
{%if include.model.next %}
  <a href="{{include.model.next | prepend:site.baseurl}}">
    <div class="nav nav-right"><span>&#10095;</span></div>
  </a>
{% endif %}
<audio src="{{include.model.musicUrl | prepend:site.baseurl}}" loop />